/* src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* --- 暗黑主题核心 --- */
  background-color: #000000; /* 全局背景设为纯黑 */
  color: #ffffff; /* 全局文字设为白色 */
}

/* 覆盖默认的链接颜色 */
a {
  color: #f1f1f1;
  text-decoration: none;
}